# This is Git's per-user configuration file.
[core]
  autocrlf = input
	editor = nvim
[user]
	name = げ
  email = westelh@gmail.com
[commit]
	verbose = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
  path = .gitconfig.local
