# Files
.DS_Store
.vault-token
.CFUserTextEncoding
.zsh_history
.lesshst
.node_repl_history
.fzf.zsh
.fzf.bash
.mysql_history
.python_history
.bash_history
.viminfo
.Brewfile.lock.json

# Directories
/.step
/Music
/.bin
/.docker
/.vim
/.terminfo
/go
/.gnupg
/.n
/.w3m
/.hawtjni
/.vagrant.d
/Mail
/.oci
/.local
/Pictures
/IdeaSnapshots
/.lima
/.colima
/.vagrant
/.finch
/Desktop
/Library
/.dlv
/.cups
/Public
/.kube
/.mutt
/.ansible
/.tldr
/.ssh
/Movies
/Applications
/.fn
/.gradle
/.Trash
/Dev
/.npm
/.terraform.d
/Documents
/.pyenv
/.vscode
/.m2
/.swiftpm
/Downloads
/.cache
/.zsh_sessions
/.composer

# Ignore tools
/.config/ansible/
/.config/gcloud/
/.config/gh/
/.config/iterm2/
/.config/k9s/
/.config/shell_gpt/
/.config/wireshark/
/.config/configstore/
/.config/karabiner/automatic_backups/
/.config/op/
/.config/helm/
/.config/github-copilot/
/.config/argocd/
/.config/composer/
/.config/alacritty/themes/
/.config/neomutt/*.tokens

# Fish shell
/.config/fish/fish_variables

# Fish plugins - Tide
/.config/fish/conf.d/_tide_init.fish
/.config/fish/functions/tide.fish
/.config/fish/functions/tide/
/.config/fish/functions/_tide_*.fish
/.config/fish/completions/tide.fish

# Fish plugins - Fisher
/.config/fish/functions/fisher.fish
/.config/fish/completions/fisher.fish

# Fish plugins - Fzf
/.config/fish/conf.d/fzf.fish
/.config/fish/functions/_fzf_*.fish
/.config/fish/functions/__fzf_*.fish
/.config/fish/functions/__fzfcmd.fish
/.config/fish/functions/fzf_key_bindings.fish
/.config/fish/functions/fzf_configure_bindings.fish
/.config/fish/completions/fzf_configure_bindings.fish

